body {
  background-image: url(/images/bg-intro-desktop.png);

  background-color: hsl(0, 100%, 74%);

  padding: 0;
  margin: 0;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  font-size: 16px;

  border: none;
}
.left {
  height: 600px;
  width: 28%;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 50px;
  color: white;
  font-size: 18x;
}

.left p {
  font-size: 50px;
}
.right {
  height: 600px;
  width: 35%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right div {
  height: 50px;
  width: 100%;
  background-color: hsl(248, 32%, 49%);

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

input {
  height: 50px;
  width: 70%;
  margin-bottom: 15px;
}

.submitinput {
  background-color: hsl(154, 59%, 51%);
  border: none;
}
